:root {
  --scene-rem-neg-0-28: -0.28rem;
  --scene-rem-0-14: 0.14rem;
  --scene-rem-0-15: 0.15rem;
  --scene-rem-0-18: 0.18rem;
  --scene-rem-0-2: 0.2rem;
  --scene-rem-0-22: 0.22rem;
  --scene-rem-0-25: 0.25rem;
  --scene-rem-0-28: 0.28rem;
  --scene-rem-0-3: 0.3rem;
  --scene-rem-0-34: 0.34rem;
  --scene-rem-0-35: 0.35rem;
  --scene-rem-0-38: 0.38rem;
  --scene-rem-0-4: 0.4rem;
  --scene-rem-0-42: 0.42rem;
  --scene-rem-0-45: 0.45rem;
  --scene-rem-0-48: 0.48rem;
  --scene-rem-0-5: 0.5rem;
  --scene-rem-0-52: 0.52rem;
  --scene-rem-0-55: 0.55rem;
  --scene-rem-0-6: 0.6rem;
  --scene-rem-0-625: 0.625rem;
  --scene-rem-0-65: 0.65rem;
  --scene-rem-0-6875: 0.6875rem;
  --scene-rem-0-7: 0.7rem;
  --scene-rem-0-72: 0.72rem;
  --scene-rem-0-75: 0.75rem;
  --scene-rem-0-76: 0.76rem;
  --scene-rem-0-8: 0.8rem;
  --scene-rem-0-85: 0.85rem;
  --scene-rem-0-9: 0.9rem;
  --scene-rem-0-95: 0.95rem;
  --scene-rem-1: 1rem;
  --scene-rem-1-1: 1.1rem;
  --scene-rem-1-15: 1.15rem;
  --scene-rem-1-2: 1.2rem;
  --scene-rem-1-4: 1.4rem;
  --scene-rem-1-45: 1.45rem;
  --scene-rem-1-5: 1.5rem;
  --scene-rem-1-6: 1.6rem;
  --scene-rem-1-7: 1.7rem;
  --scene-rem-1-8: 1.8rem;
  --scene-rem-2: 2rem;
  --scene-rem-2-2: 2.2rem;
  --scene-rem-2-6: 2.6rem;
  --scene-rem-2-8: 2.8rem;
  --scene-rem-3: 3rem;
  --scene-rem-4-5: 4.5rem;
  --scene-rem-7: 7rem;
  --scene-rem-10: 10rem;
  --scene-rem-10-25: 10.25rem;
  --scene-rem-13-2: 13.2rem;
  --scene-rem-15: 15rem;
  --scene-rem-18: 18rem;
  --scene-rem-19: 19rem;
  --scene-rem-20: 20rem;
  --scene-rem-21: 21rem;
  --scene-rem-25: 25rem;
  --scene-rem-26: 26rem;
  --scene-rem-44: 44rem;

  --scene-em-0-02: 0.02em;
  --scene-em-0-04: 0.04em;
  --scene-em-0-05: 0.05em;
  --scene-em-0-08: 0.08em;

  --scene-px-neg-1: -1px;
  --scene-px-0-55: 0.55px;
  --scene-px-1: 1px;
  --scene-px-2: 2px;
  --scene-px-8: 8px;
  --scene-px-10: 10px;
  --scene-px-999: 999px;
}
